spring:
  datasource:
    url: jdbc:mysql://localhost:3308/sistema1?serverTimezone=UTC
    username: root           
    password: mariadb
  jpa:
    show-sql: true
    properties: 
      hibernate:  
        dialect: org.hibernate.dialect.MySQL5Dialect          

  thymeleaf:
    mode: LEGACYHTML5
    cache: false
    
