<div th:fragment="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> <!--  --> </a>
        </div>
        <div id="user-data">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="./user_profile">
                        {{empleado.nombres}}
                        <i class="material-icons">person</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>