<!doctype html>
<html lang="en">
<!--titulo de web, metas, dependencias CSS/JS-->
<head th:include="fragments/header :: header (pageName='Proveedores')">
</head>
<body>
    <div class="wrapper">
        <div th:include="fragments/sidenav :: sidenav" class="sidebar" data-color="purple" data-image="../img/sidebar-1.jpg"></div>
        <div class="main-panel">
            <nav th:include="fragments/navbar :: navbar" class="navbar navbar-transparent navbar-absolute"></nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">                        
                        <div class="col-md-12">
                            <div class="card proveedores">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Proveedores</h4>
                                    <p class="category">Listado de Proveedores</p>
                                </div>
                                <div  id="lista-proveedores" class="card-content table-responsive">
                                    <!--boton agregar nuevo-->
                                    <div class="row col-md-12">             
                                        <a id="btn-agregar-proveedor" 
                                           class="btn btn-white btn-just-icon btn-round" @click="agregarProveedor" 
                                           href="#agregar-proveedor"
                                           data-toggle="tooltip" 
                                           title="Agregar proveedor">
                                              <i class="material-icons">note_add</i>
                                        </a>
                                        <!--busqueda-->
                                        <div class="navbar-form navbar-right" role="search">
                                            <!--texto a buscar-->
                                            <div class="form-group  is-empty">
                                                <input type="text" class="form-control" placeholder="Buscar" v-model="busqueda.valor">
                                                <span class="material-input"></span>
                                            </div>
                                            <!--filtro-->
                                            <div class="form-group label-floating">       
                                              <select id="cmb-filtros" class="form-control" v-model="busqueda.filtroSeleccionadoId">
                                                  <option v-for="filtro in busqueda.filtros"  v-bind:value="filtro.id">{{filtro.nombre}}</option>
                                              </select>
                                            </div>
                                            <!--boton-->
                                            <button @click="buscarProveedor" class="btn btn-white btn-round btn-just-icon">
                                                <i class="material-icons">search</i>
                                                <div class="ripple-container"></div>
                                            </button>
                                        </div>
                                    </div>
                                    <!--lista de proveedores en tabla-->
                                    <table class="table lista">
                                        <thead class="text-primary">
                                            <th>Razon social</th>
                                            <th>RUC</th>
                                            <th>Email</th>
                                            <th>Telofono</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>     
                                        </thead>
                                        <tbody>      
                                            <!--vista-->
                                            <tr v-for="proveedor in proveedores">
                                                <td>{{proveedor.razonSocial}}</td>
                                                <td>{{proveedor.ruc}}</td>
                                                <td>{{proveedor.email}}</td>
                                                <td>{{proveedor.telefono}}</td>
                                                <td>{{proveedor.estadodes}}</td>
                                                <td><a @click="editarProveedor(proveedor)" href="#editar-proveedor"><i class="material-icons">border_color</i></a></td>
                                             </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--footer-->
            <footer class="footer" th:replace="fragments/footer :: footer"></footer> 
        </div>
    </div>
<!--dependencias JS-->
<div th:replace="fragments/footer_dependencies :: dependencies (pageType='system')"></div> 
<div th:replace="fragments/mantener_proveedor :: mantener-proveedor"></div>
<!--obtener servicio de proveedor-->
<script th:src="@{/app/ProveedorService.js}"></script>
<script type="text/javascript">        
$(document).ready(function() {
     //modelo
     var data={
         proveedores:[],
         busqueda:{
             valor:'',
             filtroSeleccionadoId:1,
             filtros:[{id:1,nombre:'Ruc'},{id:2,nombre:'Razon social'}]
         }
     };
     //vista-modelo
     var vm = new Vue({
         el: "#lista-proveedores",
         data,
         beforeCreate: function(){
        	 console.info("beforeCreate");
             ProveedorService.get().then((proveedores)=>{
                  this.updateEstado();
                  this.proveedores=proveedores;                                                
              });
         }, //metodos
         methods:{
             onProveedoresGetListener:function (proveedores){
            	 console.info("onProductosGetListener");
                 this.updateEstado();
                 this.proveedores=proveedores;                               
             },
             editarProveedor: function(proveedor){
            	 console.info("editarProducto");
                 mantenerProveedor.show('Editar Proveedor',proveedor,
                     (resp)=>{
                             modal('Mantenimiento de Proveedores',resp.message);
                             this.updateEstado();
                     });
             },
             agregarProveedor: function(){
            	 console.info("agregarProducto");
                 mantenerProveedor.show('Agregar Proveedor',undefined,
                     (resp,proveedor)=>{
                             modal('Mantenimiento de Proveedores',resp.message);
                             if(resp.error==0) this.proveedores.push(proveedor);
                             this.updateEstado();
                     }
                 );
             },
             buscarProveedor: function(){        
            	 console.info("buscarProducto");
                 if(this.busqueda.valor.trim().length>0)
                     ProveedorService.buscar(this.busqueda.valor,this.busqueda.filtroSeleccionadoId).then(this.onProveedoresGetListener);
                 else
                     ProveedorService.buscar('','').then(this.onProveedoresGetListener);
             },
             updateEstado: function(){
             	 for(var i in proveedores){
                   	  if(proveedores[i].estado==5){
                   		proveedores[i].estadodes="Habilitado";
                       }else if (proveedores[i].estado==6){
                    	   proveedores[i].estadodes="No Habilitado";
                       }
                   }
              }
         }
     });
});
</script>
</body>
</html>